body {
    font-family: Arial, sans-serif;
    background-color: #b25252;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  #result {
    font-size: 1.2em;
    margin-top: 20px;
  }
  